*{padding: 0; margin: 0; box-sizing: border-box; color: white;}
body{
    background: black;
}

::-webkit-scrollbar{
    background:black;
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: tomato;
    border-radius: 100px;
}
.nav{
    position: relative;
    width: 100%;
    height: 50px;
    transform: 0.5s;
}
.nav ul{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0px 10px;
}
.nav ul li{
    position: relative;
    list-style: none;
    padding: 2px 6px;
    margin: 0px 30px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
}
.nav ul li a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.nav ul li::before{
    position:absolute;
    content:"";
    bottom: -5px;
    opacity:0;
    width: 100%;
    height: 5px;
    background: tomato;
    transition: 0.2s;
}
.nav ul li:hover::before{
    bottom: 0px;
    opacity:1;
}
.col p{
    color:tomato;
    font-weight: 700;
}
h1{
    text-transform: uppercase;
}

.btn{
    background: tomato;
}
.bgcircle{
    position: absolute;
    left: -250px;
    width:300px;
    height:300px;
    border-radius: 100%;
    background: tomato;
    filter: blur(10px);
}
.over{
    position: absolute;
    width:100%;
    height: 150px;
    bottom: 0px;
    background: linear-gradient(0deg, black 40%, transparent);
}
.picshap{
    position: absolute;
    width: 70%;
    height: 70%;
    right:0px;
    border-radius: 38% 62% 51% 49% / 57% 64% 36% 43%;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    filter:blur(10px);
    z-index: -1;
}
.col-md-4{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.carddiv{
    margin-bottom: 40px;
    margin-top: 40px;
}
.cardbox{
    position: relative;
    width: 300px;
    height: 300px;
    perspective: 900px;
}
.innerbox{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.8s;
}
.front img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
    color: black;
    border-radius: 10px;
    backface-visibility: hidden;
}
.back{
    background: rgba(255,255,255,0.5);
    transform: rotateY(180deg);
}
.content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}
.cardbox:hover .innerbox{
    transform: rotateY(180deg);
}
.logobox{
    position: absolute;
    width: 70%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    overflow: hidden;
    background: rgb(206,80,47);
}
.logobox::before{
    position: absolute;
    content: "";
    left: 0px;
    width: 50%;
    height: 50%;
    background: rgb(230,104,69);
}
.logobox::after{
    position: absolute;
    content: "";
    right: 0px;
    width: 50%;
    height: 50%;
    background: rgb(247,140,104);
}
.lbox{
    position: absolute;
    width: 40%;
    height: 40%;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    background: rgb(190,59,28);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    color: white;
    font-size: 46px;
    font-weight: 900;
    box-shadow: 5px 5px 2px 0px rgb(189, 95, 74);
}
.col-md-6{
    overflow: hidden;
}
.gallery{
    width: 85%;
    margin: 20px auto;
    columns: 3;
    column-gap: 20px;
}
.item{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    top: 50px;
    transition: 0.5s;
}
.item img{
    width: 100%;
    border-radius: 15px;
    transition:all 0.5s;
}
.item:hover img{
    transform: scale(1.05,1.05);
}
.leftconent{
    padding-left:100px;
}
.toggleBtn{
    position: fixed;
    padding: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 5px;
    box-shadow: 0px 0px 5px 0px white;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    z-index: 600;
}
.lines{
    position: relative;
    width: 100%;
    height: 2px;
    left: 0px;
    background: white;
    transition: all 0.5s;
}
.linesactive:nth-child(1){
    top: 50%;
    transform: rotate(45deg);
}
.linesactive:nth-child(2){
    left: 150%;
}
.linesactive:nth-child(3){
    bottom: 50%;
    transform: rotate(-45deg);
}
@media (max-width: 720px) {
    .toggleBtn{
        display: flex;
    }
    .nav{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 100%;
        background: black;
        z-index: 500;
        transition: 0.5s;
    }
    .navactive{
        left: 0%;
    }
    .nav ul{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .nav ul li{
        margin-bottom: 10px;
    }
    .gallery{
        width: 100%;
        margin: 20px auto;
        columns: 2;
        column-gap: 20px;
    } 

    .leftconent{
    padding-left:10px;
}
.typer{
    font-size:26px;
}
}
.inputbox{
    position: relative;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputbox span{
    position: absolute;
    top: 0px;
    width: 100%;
    background: none;
    z-index: -1;
    transition: 0.2s;
}
form span{
    color: rgba(255,255,255,0.5);
}
input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
input:focus~span,
input:valid~span{
    top: -18px;
    color: tomato;
}
form .row{
    padding: 20px 0px;
}
textarea{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 70px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
#btn{
   width: 100%;
}
.info{
    padding-left: 20px;
}

.info p{
    padding: 0;
    margin: 0;
}
.formandinfo{
    background: rgba(255,255,255,0.2); 
    padding: 30px;
    border-radius: 10px;
}
.formandinfo::after{
    position: absolute;
    content: "";
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 70px;
    background: cyan;
}
.formandinfo::before{
    position: absolute;
    content: "";
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: cyan;
    box-shadow: 0px 0px 10px 5px cyan;
    border-radius: 100px;
    filter: blur(3px);
}
i{
    margin: 0px 15px;
    font-size: 26px;
    cursor: pointer;
}
.footerbox{
    margin-top: 30px;
    padding: 20px;
}
.active{
    top: 0px;
    transition: 0.5s;
}
.content button{
    position: absolute;
    background: tomato;
    color: white;
    bottom: 0px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    padding: 2px 20px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px 0px black, 0px 0px 2px 0px black, 1px 1px 2px 0px black, 2px 2px 7px 0px black, -1px -1px 2px 0px white, -2px -2px 7px 0px white;
    cursor: pointer;
}
.content button a{
    text-decoration: none;
    color: white;
}
.content button::before{
    position: absolute;
    content: "";
    top: 3px;
    width: 80%;
    height: 2px;
    border-radius: 100%;
    background: white;
    filter: blur(1px);
}
.content button::after{
    position: absolute;
    content: "";
    bottom: 2px;
    width: 80%;
    height: 2px;
    border-radius: 100%;
    background: white;
    filter: blur(1px);
}
pre{
    padding: 10px 5px;
    background: white;
    color: black;
    border-radius: 10px;
    font-size: 12px;
}
iframe{
    border: none;
    outline: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
.chipbox{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}
.chips{
    padding: 2px 10px;
    background: linear-gradient(0deg, white, gray, white);
    color: white;
    text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
    border-radius: 5px;
    margin: 10px 15px;
    cursor: pointer;
}